__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env

# Jupyter
*.ipynb
.ipynb_checkpoints/

# VS Code
.vscode/

# Data
data/
temp_uploaded_pdfs/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Other
*.sqlite
*.db

# Ignore temp files
*.tmp
*.bak
~$*